<div class="content">
  <form ng-submit="login()" name="loginPage" novalidate>
    <input type="text" placeholder="enter username" name="userName" ng-model="newlogin.userName" ng-required="true"/>
    <input type="text" placeholder="enter password" name="password" ng-model="newlogin.password" ng-required="true"/>
    <input type="submit" value="send" ng-disabled="loginPage.$invalid">
  </form>
   <!--
  <form ng-submit="login()" name="loginPage" novalidate>
    <input type="text" placeholder="userName" ng-model="newlogin.userName" ng-required="true"/>
    <input type="text" placeholder="password" ng-model="newlogin.password" ng-required="true"/>
    <input type="submit"  value="Add new game"/>
  </form>
  !-->
</div>
